html,
    body {
        padding: 0;
        margin: 0;
    }
    .jumbotron {
        text-align: center !important;
        font-size: 48px;
        background-color: white;
    }
    .column {
        margin: auto !important;
        width: 100%;
    }
    .row {
        margin: auto;
        max-width: 900px;
    }
    #earth_div {
        margin: 40px;
    }
    .input-group {
    width: 35%;
    margin-left: 400px;
}