<div class="container">

  <div class="jumbotron">Tread Lightly</div>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">What is carbon footprint?</h5>
          <p class="card-text">A carbon footprint database that provides a user their footprint, a different country and
            overall education on the enviromental impact.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">What is global hectares?</h5>
          <p class="card-text">is a measurement unit for quantifying both the ecological footprint of people or
            activities as well as the biocapacity of the earth or its regions. </p>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="col-sm-10">
    <form action="POST">
      <div class="input-group mb-3">
        <input class="country" type="text" class="form-control" placeholder="Search Carbon Footprint">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <div class="card">
        <h5 class="card-header">Carbon Footprint Data</h5>
        <div class="card-body">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">Country</th>
                <th scope="col">Year</th>
                <th scope="col">Carbon Footprint</th>
              </tr>
            </thead>
            <tbody>
              {{#each footprint}}
              <tr>
                <td class="country">{{country}}</td>
                <td class="year">{{year}}</td>
                <td class="carbon">{{carbon}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

{{!-- script block --}}

<script src="http://www.webglearth.com/v2/api.js"></script>

<script>

  $(document).ready(function () {

    // inputs and button functions
    $("#submit").on("click", function (event) {
      event.preventDefault;

      var valid = true;

      //form validation function
      if ($(".country").val() === "" || $(".year").val() === "") {

        valid = false;
        alert("Please enter search criteria.");

      } else {

        //input values of the date range and country
        $(".country").val().trim();
        $(".year").val().trim();
      }

      //get request from the api and the data set
      $.get("/countrystats/", function (res) {

        console.log(res);

        $(".country").prepend(res.country);
        $(".year").prepend(res.year);
        $(".carbon").prepend(res.carbon);

      }.then(function (results) {

        console.log("its working");

      })
      )
    });
  })

</script>